.header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	top: 0;
	left: 0;
	z-index: 30;
	box-shadow: 0px 0px 2px 2px #3333;
	background: #FFFFFF;

	.search{
		flex: 0 1 33.333%;

	}
	.logo{
		flex: 0 1 33.333%;
		align-self: center;
	}
	.login{
		flex: 0 1 33.333%;
		display: flex;
		justify-content: end;
		align-items: center;
		.btn{
			margin-right: 5px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}