.post{
		flex: 0 1 40%;
		margin: 15px;
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #333333;
		.header{
			position: relative;
			.image{
				img{
					max-width: 100%;
					border-radius: 10px 10px 0px 0px;
				}
			}
			.authorInfos{
				position: absolute;
				z-index: 10;
				top: 20px;
				left: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: linear-gradient(89.87deg, rgba(255, 255, 255, 0.49) 12.05%, rgba(255, 255, 255, 0) 88.23%);
				border-radius: 100px;
				.avatar{
						border-radius: 30px;
					img{
							border-radius: 30px;
							border: 2px solid #FFFFFF;
					}
				}
				.infos{
					margin-left: 10px;
					.fullName{
						margin-bottom: 5px;
						font-weight: 800;
					}
					.date{
						font-weight: 800;
					}
				}
			}
		}
		.body{
				margin: 15px 0px 10px 15px;
			.title {
				font-size: 26px;
				text-transform: uppercase;
				font-weight: 800;
				}
				.text{
					margin-top: 15px;
					padding: 0px 10px 0px 0px;
					font-weight: 400;
					font-size: 16px;
					font-family: Georgia, 'Times New Roman', Times, sans-serif;
				}
		}
		
		.footer{
			display: flex;
			flex-direction: column;
			margin: 15px 0px 10px 15px;
			.tags {
				color: #3333;
				font-weight: 800;
				margin-bottom: 10px;
			}
			.views {
				color: #3333;
				font-weight: 800;
			}
		}
}
